# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
models/*
yolo_tiny/path/*
data/*
models/weights/*
MyYolov4/models/*
MyYolov4/models/weights/*